{% extends 'music/base.html' %}
{% block title %}专辑{% endblock %}
{% block albums_active %}active{% endblock %}
{% block search_palce_holder %}搜索专辑{% endblock %}



{% block body %}


    <div class="albums-container container-fluid">


        <div class="row">
            {% if error_message %}<h4 class="text-danger"><strong>{{ error_message }}</strong></h4>
            {% endif %}

            <!-- pill nav-->
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-pills" style="margin-bottom: 10px">
                        <li role="presentation" class={% if filter_by == 'all' %}active{% endif %}><a
                                href="{% url 'music:albums' filter_by='all' %}">查看全部</a></li>
                        <li role="presentation" class={% if filter_by == 'favorite' %}active{% endif %}><a
                                href="{% url 'music:albums' filter_by='favorite' %}">查看喜爱的</a></li>
                    </ul>
                </div>
            </div>

            <!--albums-->
            <div class="endless_page_template">
                {% include page_template %}
            </div>


            <div class="back-to-top" role="button">回到顶端</div>
        </div>

    </div>
{% endblock %}







