{% extends 'music/base.html' %}
{% block title %}增加歌曲{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!--Left Album Info-->
            <div class="col-sm-4 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="{% url 'music:detail' pk=album.id  %}">
                            <img class="img-responsive" width="250" height="250" src="{{ album.album_logo.url }}" alt="图片不存在">
                        </a>
                        <h1>{{ album.album_title }}</h1>
                        <h3>{{ album.artist }}</h3>
                        <pre class="panel panel-body">{{ album.genre }}</pre>
                    </div>
                </div>
            </div>

            <!--Right Album Info-->
            <div class="col-sm-8 col-md-9">

                <ul class="nav nav-pills" style="margin-bottom: 10px;">
                    <li role="presentation"><a href="{% url 'music:detail' pk=album.id %}">所有曲目</a></li>
                    <li role="presentation" class="active"><a href="{% url 'music:song-create' pk=album.id %}">添加歌曲</a></li>
                </ul>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Add a New Song</h3>
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="album" value="{{ album }}">
                            {% include 'music/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}